In [ ]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + lname + " " + fname)

Input your First Name : Ouratou
Input your Last Name : Marwa
Hello  Marwa Ouratou

In [ ]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 5
615

In [ ]:
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")

Enter a number: 4
This is an even number.

In [ ]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 8

In [ ]:
def odd_values_string(str):
  result = "" 
  for i in range(len(str)):
    if i % 2 == 0:
      result = result + str[i]
  return result

print(odd_values_string('abcdef'))
print(odd_values_string('python'))

In [ ]:
class Point3D:
  def __init__ (self,x,y,z):
    self.x = x
    self.y = y
    self.z = z
  def __str__(self):
    return str((self.x, self.y, self.z))
my_point = Point3D(1, 2, 3)
print(my_point)

(1, 2, 3)

In [ ]:
def u(n):
    u=4
    for i in range (1,n+1):
      u=u**2-2*u
    return u

In [ ]:
input("Name:")
input("Age:")
input("Hobbies:")
while True:      
  h=input("t Hobbies")
  if h=="stop":
    break
    E("Hobbies").add(h)

Name:Marwa
Age:16
Hobbies:DOrmir
t HobbiesAvoir des 20
t Hobbiesstop